# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI
*.log

# Redis
dump.rdb

# Environments
.env

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Docker
*.dockerfile
docker-compose.yml
docker-compose.override.yml

# PyCharm
.idea/

# VS Code
.vscode/

# GitHub
.github/

# Logs
logs/
*.log

# System files
*.swp
*.swo

# Other
*.bak
*.tmp
*.old
*.backup

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

git_src/*
temp/*